---
title: "CUPID25 Collaborative Project"

layout: page

permalink: /

header:
    overlay_image: /assets/images/header.webp
    overlay_filter: rgba(0, 0, 0, 0.6)

    actions:
        - label: "Un projet collaboratif L3/M1/M2 MIAGE Sorbonne"
          url: "https://miage.pantheonsorbonne.fr"
          blank: true
        - label: "Ancien Projet BC24"
          url: https://bc24.miage.dev
          blank: true
        - label: "Ancien Projet Stream4Good"
          url: https://miage.dev/s4g/
          blank: true

excerpt: |
    a **C**oachable **U**nplugged **P**ersonal Assistant that is **I**ntelligent and **D**elightful 

    



image-pitch:
    - header: "Le Pitch"
      excerpt: "CUPID25 vise à créer une IA légère capable de fonctionner sur des appareils économiques comme le Raspberry Pi, sans dépendre de serveurs externes. L'objectif est de permettre l'automatisation de tâches du quotidien tout en respectant la vie privée des utilisateurs, car toutes les données personnelles restent stockées localement. CUPID25 permet d'exécuter des tâches d'IA directement sur des appareils à faible consommation d'énergie, comme le Raspberry Pi, sans utiliser de serveurs distants. Cela signifie que vous gardez le contrôle total de vos données, tout en automatisant des tâches simples comme l'éclairage ou la gestion de la température."
      image-url: "/assets/images/pitch.webp"
      image-width: "400px"
      image-right: true
M1:
    - header: "Intégration d'algorithmes IA Coachable"
      excerpt: "Le projet utilise des technologies d'IA qui peuvent fonctionner sur des objets connectés et être facilement contrôlées par l'utilisateur."
      image-url: "/assets/images/M1.webp"
      image-width: "400px"
      image-right: false
L3:
    - header: "Intégration avec l'environnement"
      excerpt: "CUPID25 interagit avec son environnement physique et numérique."
      image-url: "/assets/images/L3.webp"
      image-width: "400px"
      image-right: true
M2:
    - header: "Intégration avec l'humain"
      excerpt: "CUPID25 apprend des interactions avec l'utilisateur pour s'adapter à ses préférences et devenir plus intelligent au fil du temps."
      image-url: "/assets/images/M2.webp"
      image-width: "400px"
      image-right: false
M2-projet:
    - header: "Prouver la viabilité commerciale du projet"
      excerpt: "Le projet a aussi pour objectif de valider une idée de création d'entreprise. Cela inclut l'analyse des besoins du marché pour une éventuelle commercialisation du produit."
      image-url: "/assets/images/M2-projet.webp"
      image-width: "400px"
      image-right: true

---

<section class="site-section alternative-color second-section" id="section-1">

    <h1 id="pitch">Le Concept</h1>

    {% include image-text-row id="image-pitch" %}

    

    <a href="https://www.raspberrypi.com/products/raspberry-pi-5/" rel="noopener noreferrer nofollow" target="_blank" class="btn btn--primary">
        Nano-Ordinateur Raspberry PI 5
    </a>

    <a href="https://datasheets.raspberrypi.com/ai-kit/raspberry-pi-ai-kit-product-brief.pdf" rel="noopener noreferrer nofollow" target="_blank" class="btn btn--primary">
        Kit AI
    </a>
    
    <a href="https://www.tinyml.org/" rel="noopener noreferrer nofollow" target="_blank" class="btn btn--info">
        Tiny ML
    </a>

</section>

<section class="site-section" id="section-2">

    <h1>Objectifs du projet</h1>

    <h2 id="M1">Projets préssentis pour les M1</h2>
    {% include image-text-row id="M1" %}

   <div class="notice--primary">
        <h3>Reconnaissance d'image et de voix</h3>
        <p>Le projet CUPID25 implémente la reconnaissance d'image et de voix en utilisant des bibliothèques Python comme YOLO pour analyser l'image et des outils de reconnaissance vocale. Ces technologies permettent au système de mieux interagir avec son environnement et les utilisateurs.</p>
    </div>

    <div class="notice--primary">
        <h3>Synthèse vocale</h3>
        <p>Le système pourra également parler avec les utilisateurs de manière naturelle grâce à la synthèse vocale. Cela facilitera les interactions dans des situations comme la gestion des tâches ou la diffusion d'informations importantes.</p>
    </div>

    <div class="notice--success">
        <h3>IA Coachable</h3>
        <p>Le système CUPID25 peut apprendre des corrections apportées par l'utilisateur à ses décisions, pour s'améliorer continuellement.</p>
    </div>

<h2 id="L3">Projets préssentis pour les L3</h2>
{% include image-text-row id="L3" %}

   <div class="notice">
        <h3>Domotique</h3>
        <p>Le projet CUPID25 peut interagir avec des objets connectés pour contrôler automatiquement des dispositifs comme des ampoules ou des thermostats intelligents, tout en économisant de l'énergie.</p>
    </div>

    <div class="notice">
        <h3>Support d'API</h3>
        <p>CUPID25 peut également se connecter à des services en ligne via des API pour gérer des calendriers ou envoyer des notifications, tout en gardant le contrôle local de vos données.</p>
    </div>

    <div class="notice">
        <h3>Interaction humaine</h3>
        <p>CUPID doit être mignon et attachant. Le projet prévoit la conception externe du système (impression 3D) et un travail sur mouvements/feedback robotiques, CUPID25 interagira de manière plus humaine et engageante avec ses utilisateurs.</p>
    </div>

<h2 id="M2">Sujets de mémoires de recherche préssentis pour les M2</h2>
{% include image-text-row id="M2" %}

    <div class="notice--success">
        <h3>Process Mining</h3>
        <p>CUPID25 apprend à comprendre les intentions des utilisateurs grâce à l'analyse de leurs actions et comportements (Process Mining), pour anticiper leurs besoins.</p>
    </div>
    
    <div class="notice--success">
        <h3>IA Explicable</h3>
        <p>Le système CUPID25 doit pouvoir expliquer ses décisions aux utilisateurs. Plusieurs algorithmes d'explicabilité seront utilisés pour rendre ce processus transparent.</p>
    </div>

    <div class="notice--success">
        <h3>IA Coachable</h3>
        <p>CUPID25 tiendra compte des retours des utilisateurs pour s'améliorer continuellement en fonction de leurs besoins et préférences.</p>
    </div>

<h2 id="M2-project">Idée préliminaire pour un projet de création d'entreprise (M2)</h2>
{% include image-text-row id="M2-projet" %}

</section>
